*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --main-color:#FF2F5E;
    --heading-color :#333333;
    --second-color:#555555;
}
p,span,nav{    
    font-family: "Roboto" ,sans-serif;
}

h1,h2,h3,h4,h5,h6{
        font-family: "Roboto", sans-serif;
}

.container{
    width: 90%;
    margin: auto;
}

ul{
    list-style-type: none;
}
.active {
   color:var(--main-color);
}
.clear{
    clear: both;
}
